<!-- wp:template-part {"slug":"header","theme":"transcript"} /-->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:query {"queryId":33,"query":{"perPage":3,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"only","inherit":false}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
    <!-- wp:tiptip/hyperlink-group-block {"className":"hero-group"} -->
    <a class="wp-block-hyperlink-group"
      ><div class="wp-block-tiptip-hyperlink-group-block hero-group">
        <!-- wp:post-featured-image {"isLink":true,"height":"55vh","scale":"contain","sizeSlug":"full","align":"wide","className":"home-image"} /-->

        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap"}} -->
        <div class="wp-block-group">
          <!-- wp:heading {"level":3,"style":{"typography":{"textTransform":"uppercase"}},"fontSize":"small"} -->
          <h3
            class="has-small-font-size"
            id="new-callout"
            style="text-transform: uppercase"
          >
            <strong>NEW!</strong>
          </h3>
          <!-- /wp:heading -->

          <!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase"}},"fontSize":"base","fontFamily":"Inter"} /-->
        </div>
        <!-- /wp:group -->

        <!-- wp:post-title {"isLink":true,"className":"first-title"} /-->

        <!-- wp:post-author {"showAvatar":false,"showBio":false,"byline":"By","fontFamily":"Inter"} /-->

        <!-- wp:post-excerpt /-->
      </div></a
    >
    <!-- /wp:tiptip/hyperlink-group-block -->

    <!-- wp:separator {"opacity":"css"} -->
    <hr class="wp-block-separator has-css-opacity" />
    <!-- /wp:separator -->
    <!-- /wp:post-template -->
  </div>
  <!-- /wp:query -->
</div>
<!-- /wp:group -->
<!-- wp:group {"layout":{"type":"constrained"}} -->
<div class="wp-block-group">
  <!-- wp:query {"queryId":4,"query":{"perPage":"5","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":false}} -->
  <div class="wp-block-query">
    <!-- wp:post-template -->
    <!-- wp:tiptip/hyperlink-group-block {"className":"home-link-group"} -->
    <a class="wp-block-hyperlink-group"
      ><div class="wp-block-tiptip-hyperlink-group-block home-link-group">
        <!-- wp:post-date {"style":{"typography":{"fontStyle":"normal","fontWeight":"700","textTransform":"uppercase"}},"fontSize":"base","fontFamily":"Inter"} /-->

        <!-- wp:post-title {"textColor":"true-black"} /-->

        <!-- wp:post-author {"showAvatar":false,"byline":"By","textColor":"true-black","fontSize":"base","fontFamily":"Inter"} /-->

        <!-- wp:post-excerpt /-->
      </div></a
    >
    <!-- /wp:tiptip/hyperlink-group-block -->
    <!-- /wp:post-template -->
  </div>
  <!-- /wp:query -->
</div>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","theme":"transcript"} /-->
